main{
    display: flex;
    flex-direction: column;
	align-items: center;
	justify-content: center;
   
}
.contenedor{
	display: flex;
	align-items: center;
	justify-content: center;
    padding: 7rem 0;
    background: linear-gradient(360deg, rgba(247, 166, 166, 0.829), rgba(192, 22, 22, 0));
}

.contenedor-banner_acerca{
	width: 100%;
    background: transparent;
    
	
	
   
    
}
.slider-banner_acerca{
    width: 100%;

	display: flex;
	justify-content: center;
   flex-direction: column;
	align-items: center;
    background: transparent;
   
}
  
.slider-banner_acerca .contenido-banner_acerca{
  padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-banner_acerca .banner-acerca{
    width: 100%;
}

.contenido-banner_acerca img{
    width: 500px;
    margin-left: 50px;
}
.contenido-banner_acerca .banner-acerca h1{
    font-size: 40px;
    margin-bottom: 20px;
}
.contenido-banner_acerca .banner-acerca p{
    font-size: 25px;
    margin-bottom: 20px;
}

/*EQUIPO*/
.contenedor-equipo{
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: var(--iv-white);
    padding: 7rem 0;
    width: 100%;
}


.contenedor-equipo .contenido-banner_equipo{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5rem 2rem;
    
  

}
.contenedor-equipo .contenedor-banner_equipo .slider-banner_equipo .contenido-banner_equipo .banner-equipo{
    margin: 20px;
    width: 500px;
    border: 1px solid;
    padding: 5rem 0;
}

.banner-equipo h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.banner-contacto{
    width: 500px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.banner-contacto_img{
    width: 150px;
    
}

.banner-contacto_img img{
    width: 100%;
    border-radius: 50px;
    
}

/* SOCIOS*/
.contenedor-socios{
    display: flex;
	align-items: center;
	justify-content: center;
    text-align: center;
    width: 100%;
    padding: 50px;
    
}
.banner-socios h1{
    font-size: 40px;
}

.contenedor-socios .contenedor-banner_socios .banner-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2;
    width: 100%;
    padding: 20px;
    margin-top: 50px;
}

.contenedor-socios .contenedor-banner_socios .banner-imagen .banner-socios_imagen{
   width: 200px;
   height: 300px;
   border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 10px 0 rgba(204, 36, 36, 0.829);
    cursor: pointer;
}
.contenedor-socios .contenedor-banner_socios .banner-imagen .banner-socios_imagen:hover{
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
}
.contenedor-socios .contenedor-banner_socios .banner-imagen .banner-socios_imagen img{
    width: 100%;
    height: 100%;
}

/*VMO*/

.contenedor-vmo{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--iv-white);
    width: 100%;
}

.contenedor-vmo .contenido-banner_vmo{
    display: flex;
    flex-wrap: wrap;
    gap: 1;
    justify-content: center;
    align-items: center;
    padding:50px  10px;
}

.contenedor-vmo .contenido-banner_vmo .banner-vmo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 20px;
    margin-left: 20px;
    
}

.contenedor-vmo .contenido-banner_vmo .banner-vmo .banner-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    width: 150px;
    padding: 50px;
    border-radius: 15px;
    background-color: black;
}

.contenedor-vmo .contenido-banner_vmo .banner-vmo .banner-icon i{
    font-size: 50px;
    color: red;
}
.contenedor-vmo .contenido-banner_vmo .banner-vmo h3{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

@media screen and (max-width: 1024px){
    .contenedor{
        width: 100%;
        
    }
    .contenido-banner_acerca .banner-acerca{
        width: 400px;
        padding: 20px;
        font-size: 10px;
    }
    
    .contenido-banner_acerca img{
        width: 300px;
        margin-left: 30px;
    } 
    .contenido-banner_acerca .banner-acerca h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .contenido-banner_acerca .banner-acerca p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    .contenedor-equipo{
        width: 100%;
        display: flex;
       
    }
    .contenedor-equipo .contenedor-banner_equipo{
        width: 100%;
        display: flex;
        
       
    }
    .contenedor-equipo .contenedor-banner_equipo .slider-banner_equipo{
        width: 100%;
        display: flex;
        
    }
    .contenedor-equipo .contenedor-banner_equipo .slider-banner_equipo .contenido-banner_equipo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

   
    .contenedor-equipo .contenedor-banner_equipo .slider-banner_equipo .contenido-banner_equipo .banner-equipo{
        padding: 15px;
        width: 200px;
    }
    .contenedor-equipo .contenedor-banner_equipo .slider-banner_equipo .contenido-banner_equipo .banner-contacto{
        width: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5px;
    }
    .contenedor-equipo .contenedor-banner_equipo .slider-banner_equipo .contenido-banner_equipo .banner-contacto .banner-contacto_img{
        width: 50px;
    }
    .contenedor-equipo .contenedor-banner_equipo .slider-banner_equipo .contenido-banner_equipo .banner-contacto .banner-contacto_img img{
        width: 100%;
    }
    .contenedor-vmo .contenido-banner_vmo .banner-vmo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 300px;
        padding: 10px;
        margin-left: 15px;
        
    }

}

@media screen and (max-width: 985px){
    .contenedor{
        max-width: 100%;
        
    }
    .contenido-banner_acerca .banner-acerca{
        width: 400px;
        padding: 20px;
        font-size: 10px;
    }
    
    .contenido-banner_acerca img{
        width: 350px;
        margin-left: 50px;
    } 
    .contenido-banner_acerca .banner-acerca h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .contenido-banner_acerca .banner-acerca p{
        font-size: 20px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 768px){


    .contenedor-equipo{
        width: 100%;
       
    }

    .contenedor-banner_equipo{
        width: 100%;
    }
    .slider-banner_equipo{
        width: 100%;
    }
    .banner-contacto{
        display: flex;
        flex-direction: row;
        width: 70%;
       justify-content: space-around;
       margin-top: 4rem;
    }

    .banner-equipo{
        width: 70%;
    }
    .contenido-banner_equipo{
        width: 100%;
        
    }

    .contenido-banner_equipo{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        
    }
    .banner-contacto_img{
        width: 150px;
    }

    .contenedor{
        width: 100%;
    }
    .contenido-banner_acerca{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
    }
    .contenido-banner_acerca img{
        width: 400px;
        margin-left: 10px;
    }
    .contenido-banner_acerca .banner-acerca h1,
    .contenido-banner_acerca .banner-acerca p{
        text-align: center;
    }
}

@media screen and (max-width: 350px){


    .contenedor-equipo{
        width: 100%;
        
      
    }
    .contenedor-equipo  .contenido-banner_equipo {
        padding: 4rem;
    }

    
    .contenedor-equipo  .contenido-banner_equipo .banner-contacto{
        display: flex;
        flex-direction: row;
        width: 100%;
       justify-content: space-around
    }
   

    .contenedor-equipo  .contenido-banner_equipo .banner-equipo{
       width: 100%;
        
    }
    .contenedor-equipo  .contenido-banner_equipo .banner-equipo h1{
        font-size: 2rem;
        text-align: center;
    }
   

    .contenido-banner_equipo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
      
    }
    .banner-contacto_img{
        width: 100px;
    }

    .contenedor{
        width: 100%;
        
    }
    .contenido-banner_acerca{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        width: 100%;
        
    }
    .contenido-banner_acerca img{
        width: 250px;
       
    }
    .contenido-banner_acerca .banner-acerca{
        padding: 4rem;
    }
   
    .contenido-banner_acerca .banner-acerca p{
        font-size: 20px;
    }
}